<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="/restaurants/new" method="post">
        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">名稱</span>
          </div>
          <input type="text" name="name" class="form-control" placeholder="名稱">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">英文名稱</span>
          </div>
          <input type="text" name="name_en" class="form-control" placeholder="英文名稱">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">類別</span>
          </div>
          <input type="text" name="category" class="form-control" placeholder="類別">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">圖片網址</span>
          </div>
          <input type="text" name="image" class="form-control" placeholder="圖片網址">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">地址</span>
          </div>
          <input type="text" name="location" class="form-control" placeholder="地址">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">電話</span>
          </div>
          <input type="text" name="phone" class="form-control" placeholder="電話">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">GoogleMap網址</span>
          </div>
          <input type="text" name="google_map" class="form-control" placeholder="GoogleMap網址">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">評分</span>
          </div>
          <input type="text" name="rating" class="form-control" placeholder="評分">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">描述</span>
          </div>
          <input type="textbox" name="description" class="form-control" placeholder="描述">
        </div>

        <button type="submit" class="btn btn-success">Create</button>
      </form>
    </div>
  </div>
</div>